<!DOCTYPE html>
<html lang="en">
<head>
  <title>File upload demo</title>
  <%- include('../partials/head'); %>
</head>
<body>

<main>
    <div class="container-fluid">
        <div class="row">
            <%- include('../partials/create'); %>
            <%- include('../partials/list'); %>
            <%- include('../partials/preview'); %>
        </div>
    </div>
</main>

</body>
</html>
