<div class="col-3">
    <form class="create" action="/files" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" class="form-control" name="avatar" accept="image/jpeg,image/jpg,image/bmp,image/png">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>